# Data Generator for Examples

requires `pip install faker`

In [2]:
import random
import json
import pandas as pd
from faker import Faker
from collections import OrderedDict

In [46]:
locales = OrderedDict([
    ('en-US', 1)
])
fake = Faker(locales)
f = fake['en_US']

## Example 1

In [48]:
data = []

for i in range(100):
    obj = dict(latitude=f.latitude(),
               longitude=f.longitude(),
               date=f.date(),
               value=random.random())
    data.append(obj)

df = pd.DataFrame(data)
df.head()

     latitude   longitude        date     value
0   53.220996  136.263142  1996-12-21  0.780757
1   89.484277  104.904934  1972-12-25  0.464062
2  10.3750245  137.419205  1986-09-30  0.625654
3   33.370899   -9.427111  1986-09-24  0.740296
4  -64.826568   31.074295  1970-06-28  0.885293

In [45]:
df.to_csv('example_1.csv', index=False)

## Example 2

In [44]:
data = []
for i in range(100):
    loc = f.location_on_land()
    obj = dict(y=loc[0],
               x=loc[1],
               city=loc[2],
               country=loc[3],
               ts=f.date(pattern='%B %-d, %Y'),
               value=round(random.random()*10000))
    data.append(obj)
    
df = pd.DataFrame(data)
df.head()

          y           x       city country                 ts  value
0  38.96667    -0.18333     Gandia      ES  February 17, 1983   9624
1  17.06542   -96.72365     Oaxaca      MX      April 7, 1996   8973
2  59.33333    18.28333        Boo      SE   December 5, 2012   9348
3  36.20829  -115.98391    Pahrump      US   October 27, 2011   7594
4  54.03876    43.91385  Kovylkino      RU      July 20, 1998     96

In [45]:
df.to_csv('example_2.csv', index=False)

## Example 3

In [85]:
data = []
for i in range(100):
    loc = f.location_on_land()
    date=f.date(pattern='%-m-%d-%Y')
    obj = dict(lat=loc[0],
               lng=loc[1],
               region=loc[4].split('/')[0],
               place_name=loc[4].split('/')[1].replace('_',' '),
               month=date.split('-')[0],
               day=date.split('-')[1],               
               year=date.split('-')[2],                              
               value=round(random.random()*10000))
    data.append(obj)
    
df = pd.DataFrame(data)
df.head()

        lat        lng   region place_name month day  year  value
0  17.30858   97.01124     Asia     Yangon     1  22  1997   3660
1  40.60538  -73.75513  America   New York    11  05  1983   9859
2  33.41012  -91.06177  America    Chicago     8  21  1982   1906
3  38.58894  -89.99038  America    Chicago     5  09  1991   2960
4  51.67822    33.9162   Europe       Kiev     1  20  2010   9377

In [86]:
df.to_csv('example_3.csv', index=False)